*/node_modules
*/npm-debug.log
*/yarn-error.log
*/yarn.lock
*/package-lock.json

*/.env*
*/.env.local
*/.env.development
*/.env.test
*/.env.production

*/dist/
*/dist-ssr/
*/.vite/

*/logs/
*/*.log
*/*.log.*


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


*.tmp
*.bak
*.cache
*.swp
*~

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*/coverage/
*/test-results/

*.orig